


// COLORS
$dark-grey:#343a40;
$black: rgba(#000, 0.8);
$craydel-blue: #21264D;
$craydel-yellow: #FCDB00;
$craydel-orange: #F6A70B;
$craydel-dark-orange: #f17222;
$body-bg: #fff;
$header-bg: #21264D;
$footer-bg: #F9FAFC;
$light-yellow: #FEF7C3;
$red: #FF384A;
$light-red: #F2CC8F;
$primary-color: #1976D2;
$secondary-color: rgba(#1C2E45, 0.6);
$error: #ED3A3A;
$warning: #fb8c00;
$success: #33B469;
$info: #2196f3;
$field-label: #344054;
$field-border: #D0D5DD;
$member-color: #F4F1DE;
$subscribe:#F2CC8F;


// FONTS
$primary-font: 'Poppins', Helvetica, Arial, sans-serif;
$base-font-size: 1rem;
